/*google font=> font-family: 'Dancing Script', cursive;*/
/*google font =>font-family: 'Roboto', sans-serif;*/
.characterFlex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1rem;
}

.card {
  margin-top: 2rem;
}

.card-title {
  color: white;
  font-family: "Dancing Script", cursive;
  font-size: 27px;
}

.cardContent {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 700;
}

.loading {
  color: white;
  font-size: 55px;
  font-family: "Dancing Script", cursive;
  text-align: center;
  margin-top: 2rem;
}
